  html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
  
  }

.map {
    height: 120vh;
    position: relative;

  }


.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.box
{    
    background-color: #939393;
    position: fixed;
    z-index: 1;
    opacity: 0.6;
    padding: 25px;
    margin: 25px;
    border-radius: 8px;}

#main_box
{   width: 500px;
    height:650px;
    right: 40px;
    top: 30px;

}

#main_box_content{
    height: 600px;
    margin-top:5px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    opacity: 1;
    font-family: arial;
    border-radius: 8px; 
    
}

.mainTable , td{
    
   margin: 50px;
    margin-top: 25px;
align-content: center;    
height:100px;
    width:400px;
    padding: 10px;
    word-wrap: break-word;
    
}


.button{
  float: left;
    height: 80px;
    width: 80px;
    font-family: arial;
    font-size: 14;
    padding-left: 10px;
    padding-right: 10px;  
    border-radius: 5px; 
    margin-left: 10px;
}
#mainButLabel{
 
    font-family: arial;
    font-size: 14px;
    color: white;
    text-align: center;
    width: 100px;
    padding-top: 55px;
    word-wrap: break-word;
}

#mainHeaderLabel{
	font-family: arial;
    font-size: 22px;
    color: white;
    text-align:center;
    font-weight: normal;

}
#image{
    height: 55px;
    width: 55px;
    margin-top: 5px;
    margin-right: 100px;
    margin-left:-9px;
    margin-bottom: 5px;
     border-radius: 0px;
}

#IWButtContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    opacity: 1;
    font-family: arial;
    border-radius: 8px;
    display: none;
    
}

#IWButtons {
    float: left;
    margin-left: 35px;
    margin-right: 10px;
    font-family: arial;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
#homeButton{
   margin-top: -60px;  
    margin-bottom: 5px;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    background:  #000;
    
}



.IWLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.IWLink:hover {
    background-color: #939393;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip{
    background: #999;
    color: #ffffff;
     opacity: 0.1;
}
.custom .leaflet-popup-content-wrapper {
    background: #999;
    color: #ffffff;
     opacity: 0.8;
}